<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel="stylesheet" href="{% static '../static/css/lab4.css' %}" />
  </head>
    <header>
      <ul>
        <li><a class="active" href="">Home</a></li>
        <li><a href="note-list/">Note List</a></li>
        <li><a href="add-note/">Add Note</a></li>
      </ul>
    </header>
  <h1>
    Notes.
  </h1>
  <body>
      <table class="table-container">
        <thead>
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Title</th>
            <th id="message">Message</th>
          </tr>
        </thead>
        <tbody>
        {% if notes %} 
          {% for pesan in notes %}
          <tr>
            <td>{{ pesan.sender }}</td>
            <td>{{ pesan.to }}</td>
            <td id="note-title">{{ pesan.title }}</td>
            <td id="message">{{ pesan.message }}</td>
            <br/>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
      <!-- END SECTION -->
    </table>
  </body>
</html>
