<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <link rel="stylesheet" href="{% static '../static/css/lab4_note_list.css' %}" />
    </head>
    <header>
        <ul>
            <li><a href="../">Home</a></li>
            <li><a class="active" href="">Note List</a></li>
            <li><a href="../add-note">Add Note</a></li>
        </ul>
    </header>

<div class="wrapper">
<h1>Note List.</h1>
<div class="cols">
    {% for pesan in notes %}
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front">
                        <div class="inner">
                            <p>{{ pesan.title }}</p>
            <span>From : {{ pesan.sender }} <br> 
                To : {{ pesan.to }} 
            </span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <div class = "message"> {{ pesan.message }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</div>s