<!DOCTYPE html>  
{% load static %}
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Add Note</title>  
    <link rel="stylesheet" href="{% static '../static/css/lab4.css' %}" />
</head>  
<header>
    <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../note-list">Note List</a></li>
        <li><a class="active" href="">Add Note</a></li>
    </ul>
</header>
<body>
    <h1>Add Note.</h1>
    <div class="form">
    <form action="" method="POST">  
            {% csrf_token %}
            <table>
                <tr>
                    <td>To</td>
                    <td>:</td>
                    <td>{{ form.to }}</td>
                    <br>
                </tr>
                <tr>
                    <td>From</td>
                    <td>:</td>
                    <td>{{ form.sender }}</td>
                    <br>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>:</td>
                    <td>{{ form.title }}</td>
                    <br>
                </tr>
                <tr>
                    <td>Note</td>
                    <td>:</td>
                    <td>{{ form.message }}</td>
                    <br>
                </tr>
            </table>
            <input class="submit" type="submit" value="Submit">
        </form> 
    </div>
</body>  
</html>  