<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
  <body>
    <h1>Daftar Teman Saya</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
        {% if friends %} 
		      {% for person in friends %}
      <tr>
			    <td>{{ person.name }}</td>
          <td>{{ person.npm }}</td>
          <td>{{ person.dob }}</td>
		  <br/>
      </tr>
		      {% endfor %}
	      {% endif %}
      
      <!-- END SECTION -->
    </table>
  </body>
</html>
