<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Add Friend</title>  
</head>  
<body>
    <h1>Tambahkan Teman Saya</h1>
<form action="" method="POST">  
        {% csrf_token %}
        <table>
            <tr>
                <td>Nama :</td>
                <td>{{ form.name }}</td>
                <br>
            </tr>
            <tr>
                <td>NPM :</td>
                <td>{{ form.npm }}</td>
                <br>
            </tr>
            <tr>
                <td>Tanggal Lahir :</td>
                <td>{{ form.dob }}</td>
                <br>
            </tr>
        </table>
        <input type="submit" value="Submit">  
    </form>  
</body>  
</html>  