<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
        {% if notes %} 
		      {% for pesan in notes %}
      <tr>
			    <td>{{ pesan.sender }}</td>
          <td>{{ pesan.to }}</td>
          <td>{{ pesan.title }}</td>
          <td>{{ pesan.message }}</td>
		  <br/>
      </tr>
		      {% endfor %}
	      {% endif %}
      
      <!-- END SECTION -->
    </table>
  </body>
</html>
