br {
    display: none;
}

body {
    background-color: #006b54;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 48px;
    font-family: "Poppins";
    text-align: center;
    color: #ffffff;
}

table {
    margin: auto;
}

input {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: "Poppins";
    font-weight: bold;
    align-items: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: #006b54;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

li a:hover {
    background-color: #006b54;
    color: #ffffff;
}

form {
    margin-top: 50px;
}

.active {
    background-color: #f3f3f3;
}

.input-container {
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Poppins";
    padding-left: 5px;
}

.form {
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    height: 600px;
    padding: 10px 50px 50px 50px;
    width: 30%;
    margin: auto;
    font-family: "Poppins";
    font-weight: bold;
    }

.submit {
    background-color: #006b54;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.table-container{
    table-layout: fixed;
    border-collapse: collapse;
    width: 75%;
    margin-bottom: 5%;
    font-family: "Poppins";
}

.table-container tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.table-container tbody::-webkit-scrollbar {
    display: none;
}

.table-container thead tr {
    display: block;
}

.table-container th,
.table-container td {
    padding: 15px 20px;
    text-align: left;
    width: 300px;
}

.table-container th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.table-container tbody tr {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

#message {
    width: 500px;
}

#note-title {
    font-weight: bold;
    color: #006b54;
}

.table-container tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

